{% extends "bootstrap/base.html" %}
{% block title %} zzes {% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">治电科技</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><p class="navbar-text"><a href="#" class="navbar-link">你好 {{ current_user.username }}</a></p></li>
                <li><a href="{{ url_for('logout') }}">登出</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">登录</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">

</div>
{% endblock %}